@page
@model HungryBirds.Pages.MessagesModel
@{
    ViewData["Title"] = "Messages";
}

<h2>@ViewData["Title"]</h2>
<img src="~/images/banner2.svg" alt="mail" width="40" />
<p>7 Days Ago - Reminder: The school has had an increasing rise of obesity, so from now on we will be serving healthy foods only</p>
<img src="~/images/banner2.svg" alt="mail" width="40" />
<p>1 Month Ago - Reminder: The school has had an increasing rise of Anorexia, so from now on we will be serving unhealthy foods only</p>