@page
@model HungryBirds.Pages.MealChoice.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Meals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meals.MealsId" />
            <div class="form-group">
                <label asp-for="Meals.Week" class="control-label"></label>
                <input asp-for="Meals.Week" class="form-control" />
                <span asp-validation-for="Meals.Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.Dayofweek" class="control-label"></label>
                <input asp-for="Meals.Dayofweek" class="form-control" />
                <span asp-validation-for="Meals.Dayofweek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.MealName" class="control-label"></label>
                <input asp-for="Meals.MealName" class="form-control" />
                <span asp-validation-for="Meals.MealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.Colour" class="control-label"></label>
                <input asp-for="Meals.Colour" class="form-control" />
                <span asp-validation-for="Meals.Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.Cost" class="control-label"></label>
                <input asp-for="Meals.Cost" class="form-control" />
                <span asp-validation-for="Meals.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
