@page
@model HungryBirds.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
   
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FirstMidName" class="control-label"></label>
                <input asp-for="Student.FirstMidName" class="form-control" />
                <select asp-for="Student.FirstMidName"class=" form-control" asp-items="@Model.StudentSL">
                 <option value=" "> Student First Name</option>
</select>
                <span asp-validation-for="Student.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.YearGroup" class="control-label"></label>
                <input asp-for="Student.YearGroup" class="form-control" />
                <span asp-validation-for="Student.YearGroup" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.School" class="control-label"></label>
                <input asp-for="Student.School" class="form-control" />
                <span asp-validation-for="Student.School" class="text-danger"></span>
            </div>

            
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
