@page
@model HungryBirds.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Meal Selections</h2>

<p>
    <a asp-page="Create">Add New</a>
</p>



<h1> Lucas Smith - 2FC</h1>
    (St Micheals Catholic School)
<h2> WEEK 1 MEAL CHOICES </h2>

<form name=" Monday " action=" " method="post" stlye="width:500px; margin:auto;">

    <div class=" panel panel-default">
        <div class=" panel-heading"> Monday</div>
        <div class=" panel-body">
            <div class="radio" , label label-warning">
                <label><input type="radio"> Chicken </label>
            </div>
        </div>
    </div>
    <div class=" panel panel-default">
        <div class=" panel-heading"> Tuesday</div>"
        <div class=" panel-body">
            <div class="radio" , label label-warning">
                <label><input type="radio"> Chicken </label>
            </div>
        </div>
    </div>
    <div class=" panel panel-default">
        <div class=" panel-heading"> Wednesday</div>"
        <div class=" panel-body">
            <div class="radio" , label label-warning">
                <label><input type="radio"> Chicken </label>
            </div>
        </div>
    </div>
    <div class=" panel panel-default">
        <div class=" panel-heading"> Thursday</div>"
        <div class=" panel-body">
            <div class="radio" , label label-warning">
                <label><input type="radio"> Chicken </label>
            </div>
        </div>
    </div>
    <div class=" panel panel-default">
        <div class=" panel-heading"> Friday</div>"
        <div class=" panel-body">
            <div class="radio" , label label-warning">
                <label><input type="radio"> Chicken </label>
            </div>
        </div>
    </div>

</form>

