@page
@model HungryBirds.Pages.Basket.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Selection</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Selection.SelectionId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
