@page
@model HungryBirds.Pages.Lunches.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Selection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Selection.SelectionId" />
            <div class="form-group">
                <label asp-for="Selection.MondayId" class="control-label"></label>
                <input asp-for="Selection.MondayId" class="form-control" />
                <span asp-validation-for="Selection.MondayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selection.TuesdayId" class="control-label"></label>
                <input asp-for="Selection.TuesdayId" class="form-control" />
                <span asp-validation-for="Selection.TuesdayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selection.WednesdayId" class="control-label"></label>
                <input asp-for="Selection.WednesdayId" class="form-control" />
                <span asp-validation-for="Selection.WednesdayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selection.ThuesdayId" class="control-label"></label>
                <input asp-for="Selection.ThuesdayId" class="form-control" />
                <span asp-validation-for="Selection.ThuesdayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selection.FridayId" class="control-label"></label>
                <input asp-for="Selection.FridayId" class="form-control" />
                <span asp-validation-for="Selection.FridayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selection.StudentId" class="control-label"></label>
                <input asp-for="Selection.StudentId" class="form-control" />
                <span asp-validation-for="Selection.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
